<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Single+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Cinzel:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body style="background-color: #b5cae2;">

    <nav class="navbar navbar-expand-lg  sticky-top navbar-dark navbar-custom py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/public/images/delishfiya-removebg-preview.png" width="180"
                    height="50" class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 fs-5 gap-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/menu">Menu</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



    <nav id="navbar-example2" class="navbar navbar-light cust px-3 ">
        <ul class="nav nav-pills cust-head fs-5">
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">Dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">kunafa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">Dry fruits

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">Hampers Packs
                </a>
            </li>

        </ul>
    </nav>



    <div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy-example"
        tabindex="0">
        <h4 id="scrollspyHeading1"></h4>
        <p>


        <div class="card mb-3" style="background-color: #b5cae2;">
            <img src="/public/images/hero.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <div class="h3">Experience the Taste Of Exoitic Flavours</div>
                </p>
            </div>
        </div>






        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="/public/images/del1.png" class="d-block w-100" alt="Zero slide">

                </div>
                <div class="carousel-item active">
                    <img src="/public/images/del2.png" class="d-block w-100" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img src="/public/images/del3.png" class="d-block w-100" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img src="/public/images/del4.png" class="d-block w-100" alt="Third slide">
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>


        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="h1" style="margin-top: 10PX;color:rgb(91, 15, 15) ;">DATES CHOCOLATES</p>
                <p class="h3"></p>
                <p class="h3"><i>“Naturally sweet dates wrapped in smooth, luxurious chocolate.
                        Crafted to turn every bite into a delightful experience.”</i></p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title"></cite>
            </figcaption>
        </figure>

        <div class="container my-4">
            <div class="row row-cols-2 row-cols-md-4 g-4">

                <div class="col">
                    <div class="card h-100">
                        <img src="/public/images/almond.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Royal Almond Delight</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/walnut.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Walnut crown Dates</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/cigar dates.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Cigar Roll Dates</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/tiramisu.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Tiramisu Cream</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100"> <img src="/public/images/bar13.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Nutella Premium Melt</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100"> <img src="/public/images/koorean.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Korean Fusion</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100"> <img src="/public/images/tandoori.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Tandori Fusion</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100"> <img src="/public/images/peri.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Peri Peri Nutty</h5>
                            <p class="card-text">Some quick example text.</p>
                        </div>
                    </div>
                </div>

            </div>






        </div>


        <div class="between">

            <a href="/menu" style="text-decoration: none;">
                <div class="d-flex justify-content-center my-4 mb-5" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-success btn-lg">
                        View More..
                    </button>
                </div>
            </a>


            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="h1" style="color:rgb(91, 15, 15) ;">KUNAFA</p>
                    <p class="h3"></p>
                    <p class="h3"><i>“Crispy golden kunafa layered with rich, smooth chocolate.
                            A Middle Eastern classic reimagined for modern indulgence.</i></p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title"></cite>
                </figcaption>
            </figure>



        </div>



        </p>
        <h4 id="scrollspyHeading2"></h4>



        <p>
            <!-- secomd slide -->


        <div class="container my-4">
            <div class="row row-cols-2 row-cols-md-4 g-4">


                <div class="col">
                    <div class="card h-100"> <video src="/public/images/chocoadv.mp4" autoplay muted loop
                            height="100%"></video>

                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="/public/images/choco1.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Kunafa Chocolate Bar</h5>
                            <p class="card-text">“A perfect harmony of crispy kunafa layers and rich chocolate, crafted
                                to
                                give you an unforgettable Middle Eastern indulgence.”</p>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="card h-100"> <img src="/public/images/choco2.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Dark Bar Chocolate</h5>
                            <p class="card-text">“Made with rich, high-quality chocolate, this bar is crafted to melt
                                smoothly and satisfy true chocolate cravings.”</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/choco3.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">White Bar Bite</h5>
                            <p class="card-text">“Smooth, creamy white chocolate crafted to deliver a gentle sweetness
                                that
                                melts beautifully with every bite.”</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <div class="between">


            <a href="/menu" style="text-decoration: none;">
                <div class="d-flex justify-content-center my-4 mb-5">
                    <button type="button" class="btn btn-outline-success btn-lg" style="text-decoration: none;">
                        View More..
                    </button>
                </div>
            </a>

            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="h1" style="color:rgb(91, 15, 15) ;">DRY FRUITS SPECIAL</p>
                    <p class="h3">“Finest dry fruits, thoughtfully curated for refined tastes.
Ideal for gifting, celebrating, and nourishing moments.” </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title"></cite>
                </figcaption>
            </figure>



        </div>




        </p>








        <h4 id="scrollspyHeading3"></h4>



        <p>
            <!-- tHIRD slide -->


        <div class="container my-4">
            <div class="row row-cols-2 row-cols-md-4 g-4">


                <div class="col">
                    <div class="card h-100"> <video src="/public/images/dryad.mp4" autoplay muted loop
                            height="100%"></video>

                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="/public/images/dry1.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Almond Florentine</h5>
                            <p class="card-text">“Crunchy roasted almonds blended with rich chocolate for a timeless, nutty indulgence.”</p>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="card h-100"> <img src="/public/images/dry2.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Pista Florentine</h5>
                            <p class="card-text">“Premium pistachios wrapped in smooth chocolate, delivering a refined and elegant flavour experience.”</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/dry3.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Hazelnut Florentine</h5>
                            <p class="card-text">“Rich chocolate infused with roasted hazelnuts, creating a deep, luxurious taste in every bite.”</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <div class="between">


            <a href="/menu" style="text-decoration: none;">
                <div class="d-flex justify-content-center my-4 mb-5">
                    <button type="button" class="btn btn-outline-success btn-lg" style="text-decoration: none;">
                        View More..
                    </button>
                </div>
            </a>

            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="h1" style="color:rgb(91, 15, 15) ; font-size: 2.5REM;">HAMPER PACKS</p>
                    <p class="h3"></p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title"></cite>
                </figcaption>
            </figure>



        </div>




        </p>












        <h4 id="scrollspyHeading4"></h4>
        <p>

            <!-- Third Section -->
        <div class="card-body mb-5">

        </div>



        <div class="container my-4">
            <div class="row row-cols-2 row-cols-md-3 g-4">


                <div class="col">
                    <div class="card h-100"> <video src="/public/images/ham.mp4" autoplay muted loop
                            height="100%"></video>

                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="/public/images/hamper3.png" class="card-img-top" alt="">

                    </div>
                </div>



                <div class="col">
                    <div class="card h-100"> <img src="/public/images/hamper2.png" class="card-img-top" alt="">

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100"> <img src="/public/images/ham4.jpg" class="card-img-top" alt="">

                    </div>
                </div>



            </div>
        </div>




        <div class="between">




            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="h1" style="color:rgb(91, 15, 15) ;">Luxury Gift Packs for Every Occasion</p>
                    <p class="h3">Thoughtfuly crafted for Nikah, Weedings, Festive celebrations and Premium Corporate
                        giftings in Bulk</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title"></cite>
                </figcaption>
            </figure>



        </div>




        </p>










        <h4 id="scrollspyHeading4"></h4>
        <p>
            <!-- Fourth -->



        <div class="container my-4">
            <div class="row row-cols-2 row-cols-md-2 g-4">

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/gift1.png" class="card-img-top" alt="">

                    </div>
                </div>

                <div class="col">
                    <div class="card h-100"> <img src="/public/images/gift2.png" class="card-img-top" alt="">

                    </div>
                </div>


            </div>
        </div>
        </p>
        <h4 id="scrollspyHeading5"></h4>
        <p></p>
    </div>




    <div class="info">
        <div class="info-head">
            <p>WHY DELISHFIYA ?</p>
        </div>

        <div class="info-cards">
            <div class="info-card">
                <div class="info-img">
                    <i class="fa-regular fa-truck fa-5x"></i>
                </div>
                <div class="head1">
                    <p>ON-TIME DELIVERY</p>
                </div>
                <div class="head2">
                    <p>Because celebrations shouldn't wait.</p>
                </div>
            </div>
            <div class="info-card">
                <div class="info-img">
                    <i class="fa-solid fa-cake-candles fa-5x"></i>
                </div>
                <div class="head1">
                    <p>BAKED FRESH</p>
                </div>
                <div class="head2">
                    <p>Made fresh every day, never frozen.</p>
                </div>
            </div>
            <div class="info-card">
                <div class="info-img">
                    <i class="fa-solid fa-stroopwafel fa-5x"></i>
                </div>
                <div class="head1">
                    <p> 500+ DESIGNS</p>
                </div>
                <div class="head2">
                    <p>From simple cravings to grand celebrations.</p>
                </div>
            </div>

        </div>

    </div>



    <footer class="footer">
        <div class="footer-container">

            <!-- LEFT -->
            <div class="footer-left">
                <img src="/public/images/delishfiya-removebg-preview.png" alt="Delishfiya Logo">

                <p class="stay">STAY CONNECTED</p>

                <div class="socials">
                    <div>+91 88509 60681</div>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="https://www.instagram.com/delishfiya?utm_source=qr&igsh=eTFmZXJ1dHFxeWV6"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
            </div>

            <!-- CENTER -->
            <div class="footer-center">
                <h2>HOUSE OF REFRESHING</h2>
                <p>
                    Delishfiya brings you freshly baked cakes, pastries & desserts
                    made with love, quality ingredients, and honest care.<br>
                    Every bite is crafted to make your moments sweeter.
                </p>
            </div>

            <!-- RIGHT -->
            <div class="footer-right">

                <div class="footer-col">
                    <h4>ABOUT US</h4>
                    <ul>
                        <li>News</li>
                        <li>Story</li>
                        <li>Achievements</li>
                        <li><a href="/about">Contact Us</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>PRODUCTS</h4>
                    <ul>
                        <li>Munchies</li>
                        <li>Choco Nuts</li>
                        <li>Flavoured Nuts</li>
                        <li>Cookies</li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>GET IN TOUCH</h4>
                </div>

            </div>

        </div>
    </footer>














    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>