<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MENU | DELISHFIYA</title>
</head>

<body>



    <div class="navbar">
        <div class="logo">
            <div class="logo1">
                <img src="/public/images/delishfiya-removebg-preview.png" alt="none">

            </div>
        </div>
        <div class="links1">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/menu">MENU</a></li>
            </ul>
        </div>
    </div>

    <div class="menu-section">
        <div class="menu-img">
            <img src="/public/images/menu.jpeg" alt="menu">
        </div>
    </div>

    <div class="pdf-section">
        <iframe src="/pdfjs-5.4.530-legacy-dist/web/viewer.html?file=/public/pdf/PRODUCT CATALOGUE 2025-26 LW.pdf"
            frameborder="0" title="delishfiya Menu"></iframe>
    </div>

    <footer class="footer">
        <div class="footer-container">

            <!-- LEFT -->
            <div class="footer-left">
                <img src="/public/images/delishfiya-removebg-preview.png" alt="Delishfiya Logo">

                <p class="stay">STAY CONNECTED</p>

                <div class="socials">
                    <div>+91 88509 60681</div>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <a href="https://www.instagram.com/delishfiya?utm_source=qr&igsh=eTFmZXJ1dHFxeWV6"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
            </div>

            <!-- CENTER -->
            <div class="footer-center">
                <h2>HOUSE OF REFRESHING</h2>
                <p>
                    Delishfiya brings you freshly baked cakes, pastries & desserts
                    made with love, quality ingredients, and honest care.<br>
                    Every bite is crafted to make your moments sweeter.
                </p>
            </div>

            <!-- RIGHT -->
            <div class="footer-right">

                <div class="footer-col">
                    <h4>ABOUT US</h4>
                    <ul>
                        <li>News</li>
                        <li>Story</li>
                        <li>Achievements</li>
                        <li><a href="/about">Contact Us</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>PRODUCTS</h4>
                    <ul>
                        <li>Munchies</li>
                        <li>Choco Nuts</li>
                        <li>Flavoured Nuts</li>
                        <li>Cookies</li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>GET IN TOUCH</h4>
                </div>

            </div>

        </div>
    </footer>

</body>

</html>